{% extends "base.html" %}
{% block content %}
<style>
  .gallery-main-section{
    padding: 20px 30px;
    background-color: #3c5337;
    color: white;
  }

  .img-galery{
    width: 150px;
    height: 150px;
  }

  .img-container{
    width: 300px;
    border: 1px solid rgb(252, 209, 2);
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-container span{
    border-top: 1px solid white;
  }
</style>
<!-- Gallery -->
<div class="w-100 gallery-main-section" id="msh">
  <div class="d-flex flex-wrap">
    <div class="img-container p-4">
      <img
        src="{{ url_for('static', filename='assets/logo.png') }}"
        class="shadow-1-strong rounded mb-4 img-galery"
        alt="Boat on Calm Water"
      />
      <span class="img-name">Image Name</span>
    </div>
    <div class="img-container p-4">
      <img
        src="{{ url_for('static', filename='assets/logo.png') }}"
        class="shadow-1-strong rounded mb-4 img-galery"
        alt="Boat on Calm Water"
      />
      <span class="img-name">Image Name</span>
    </div>
    <div class="img-container p-4">
      <img
        src="{{ url_for('static', filename='assets/logo.png') }}"
        class="shadow-1-strong rounded mb-4 img-galery"
        alt="Boat on Calm Water"
      />
      <span class="img-name">Image Name</span>
    </div>
    <div class="img-container p-4">
      <img
        src="{{ url_for('static', filename='assets/logo.png') }}"
        class="shadow-1-strong rounded mb-4 img-galery"
        alt="Boat on Calm Water"
      />
      <span class="img-name">Image Name</span>
    </div>
    <div class="img-container p-4">
      <img
        src="{{ url_for('static', filename='assets/logo.png') }}"
        class="shadow-1-strong rounded mb-4 img-galery"
        alt="Boat on Calm Water"
      />
      <span class="img-name">Image Name</span>
    </div>
    <div class="img-container p-4">
      <img
        src="{{ url_for('static', filename='assets/logo.png') }}"
        class="shadow-1-strong rounded mb-4 img-galery"
        alt="Boat on Calm Water"
      />
      <span class="img-name">Image Name</span>
    </div>
    <div class="img-container p-4">
      <img
        src="{{ url_for('static', filename='assets/logo.png') }}"
        class="shadow-1-strong rounded mb-4 img-galery"
        alt="Boat on Calm Water"
      />
      <span class="img-name">Image Name</span>
    </div>
    <div class="img-container p-4">
      <img
        src="{{ url_for('static', filename='assets/logo.png') }}"
        class="shadow-1-strong rounded mb-4 img-galery"
        alt="Boat on Calm Water"
      />
      <span class="img-name">Image Name</span>
    </div>
  </div>
    
</div>
  <!-- Gallery -->
  

{% endblock %}